<?xml version="1.0" encoding="UTF-8"?>
 	        <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 	<plist version="1.0">
 	<dict>
 	<key>items</key>
 	<array>
 	<dict>
 	<key>assets</key>
 	<array>
 	<dict>
 	<key>kind</key>
 	<string>software-package</string>
 	<key>url</key>
 	<string>https://img.txqn.huohua.cn/landing_page/20211117555e35b2e7-af30-4831-a923-140baca64adf.ipa</string>
 	</dict>
 	<dict>
 	<key>kind</key>
 	<string>full-size-image</string>
 	<key>needs-shine</key>
 	<true/>
 	<key>url</key>
 	<string></string>
 	</dict>
 	<dict>
 	<key>kind</key>
 	<string>display-image</string>
 	<key>needs-shine</key>
 	<true/>
 	<key>url</key>
 	<string></string>
 	</dict>
 	</array>
 	<key>metadata</key>
 	<dict>
 	<key>bundle-identifier</key>
 	<string>com.hejinjw.jgame</string>
 	<key>bundle-version</key>
 	<string>6.0</string>
 	<key>kind</key>
 	<string>software</string>
 	<key>subtitle</key>
 	<string>44</string>
 	<key>title</key>
 	<string>22</string>
 	</dict>
 	</dict>
 	</array>
 	</dict>
 	</plist>
